* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

.marker {
  height: 24px;
  width: 24px;
  transform: translate(-50%, -100%);
}

.mapboxgl-popup-close-button{
  font-size: 24px;
  padding: 2.5px 5px; 
}
.mapboxgl-popup-close-button:hover{
  background-color: black !important;
  color: #fff;
}
.popup{
  width: 400px;
  z-index: 100;
}

.popup img {
  margin-top: 10px;
  max-width: 100%;
}

.logForm{
  max-width: 100%;
  padding: 10px;
}

.logForm .input-group{
  margin: 10px 0;
}

.logForm .input-group label {
  display: block;
  font-size: 12px;
}

.logForm .input-group .form-style,
.logForm .input-group textarea {
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
}

.input-group .form-style {
  height: 24px;
}

.addLogHeader{
  text-align: center;
  text-decoration: underline;
}

.custom-button{
  width: 100%;
  padding: 10px;
  background-color: #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  border-style: unset;
  border-color: unset;
  text-transform: uppercase;
}

.error {
  color: red;
}